
/* =====================================
            dig_mit! colours
   =====================================

dig_mit mint:     #7BBE95;
dig_mit orange:   #D48028;
dig_mit blue:     #63D2E3;
dig_mit_darkblue: #25569E
dig_mit yellow:   #FCDB67;
dig_mit red:      #F22F57;
dig_mit cheekred: #F0615D;
dig_mit lipsred:  #CB878F;

*/


/* ==== General page design ==== */

body {
  background: #222;
}

.digmit-exercise-container {
  border: 1px dotted #015367;
  border-radius: 5px;
  background-color: #eee;
  max-width: 800px;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .digmit-exercise-container {
    font-size: 0.75em;
  }
}

.header {
  text-align: center;
  width: 100%;
}

/* ==== Header ==== /*
/* Title and short sentence / paragraph describing what to do */

.header h1 i.fa-volume-up {
  cursor: pointer;
  color: #7BBE95;
}

.description {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  padding-bottom: 1em;
}

/* ==== Success message ==== /*
/* ... which is displayed when all answers are correct */
.success-message {
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  border: 3px dotted #7BBE95; /* dig_mit mint */
  font-size: 1.5em;
  font-weight: bold;
}

.success-message .fa-star {
  color: #FCDB67; /* dig_mit yellow */
}

#next-exercise-button {
  font-weight: normal;
  border: 1px dotted black;
  border-radius: 3px;
  padding: 0.33em 0.16em;
  cursor: pointer;
  color: #25569E; /* dig_mit darkblue */
}
#next-exercise-button:hover {
  color: #63D2E3; /* dig_mit blue */
}
#next-exercise-button span {
  vertical-align: middle;
}
#next-exercise-button i.fa {
  font-size: 2em;
  vertical-align: middle;
}


/* ==== Source field area ==== */
/* ... where the audio buttons reside initially */

.source-field {
  border: 1px solid black;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.source-field .audio-button {
  border: 1px dotted gray;
  border-radius: 3px;
  padding: 0.16em;
  margin: 0.16em;
  font-size: 2.5em;
  width:auto;
  display: inline-block;
  cursor: grab;
}
.source-field .audio-button.ui-draggable-dragging {
  cursor: grabbing;
}

/* ==== Target field area ==== */
/* ... where audio buttons can be dragged to */

.target-field {
  border: 1px solid gray;
  min-height: 10em;
  margin: 1em 0;
  width: 40%;
  flex-grow: 1;
}

.target-field h3 {
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
}

.target-field .audio-button {
  border: 1px dotted gray;
  border-radius: 3px;
  padding: 0.3333em;
  margin: 0.16em auto;
  width: max-content;
  font-size: 1.3em;
  display: block;
  text-align: center;
  cursor: grab;
}
.target-field .audio-button.ui-draggable-dragging {
  cursor: grabbing;
}
.target-field .audio-button.exercise-solved {
  border: none;
  cursor: pointer;
}
.target-field .audio-button.exercise-solved .highlighted {
  color: #7BBE95; /* dig_mit mint */
}

.drop-hover {
  background-color: #63D2E3; /* dig_mit blue */
}

.correct {
  color: #7BBE95; /* dig_mit mint */
  font-weight: bold;
}

.incorrect {
  color: #D48028; /* dig_mit orange */
  font-weight: bold;
}
